html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.list{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.item{
  width: calc(100% / 3 - 30px);
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  border-radius: 8px;
}
.item__img{
  width: 100%;
  margin-bottom: 10px;
}
.item__text{
  margin: 0;

}

.heading{
  text-align: center;
}